<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>PiPowerSensor</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
  </head>
  <body>
    <div class="container-fluid">

      <div class="row hidden-xs-down"> <!-- Title -->
        <div class="col">
          <h1>PiPowerMeter</h1>
        </div>
      </div>
      <hr>
      <div class="row"> <!-- IP -->
        <div class="col">
          Ip : <span id="ip">{{ data.ip }}</span>
        </div>
        <div class="col text-right">
          <form class="" action="">
            Actualisation :
            <div class="form-check form-check-inline">
              <label class="form-check-label">
                <input class="form-check-input" type="radio" name="refreshRate" id="inlineRadio1" value="1"> 1 sec
              </label>
            </div>
            <div class="form-check form-check-inline">
              <label class="form-check-label">
                <input class="form-check-input" type="radio" name="refreshRate" id="inlineRadio2" value="2"> 2 sec
              </label>
            </div>
            <div class="form-check form-check-inline">
              <label class="form-check-label">
                <input class="form-check-input" type="radio" name="refreshRate" id="inlineRadio3" value="5" checked="checked"> 5 sec
              </label>
            </div>
          </form>
        </div>
      </div>
      <hr>

      <div id="meters"> <!-- Meters -->
        <div class="row">
          <div class="col text-center">
            <p>
              Consommation instantanée
            </p>
            <h2><span id="data1"></span> W</h2>
          </div>
          <div class="col text-center">
            <h2><span id="data2"></span> kWh</h2>
            <p>
              Cette semaine
            </p>
          </div>
        </div>

        <div class="row">
          <div class="col text-center">
            <h2><span id="data3"></span> kWh</h2>
            <p>
              Ce mois-ci
            </p>
          </div>
          <div class="col text-center">
            <h2><span id="data4"></span> kWh</h2>
            <p>
              Cette année
            </p>
          </div>
        </div>
      </div>

    </div> <!-- /container-fluid -->

    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
    <script src="../static/js/script.js" charset="utf-8"></script>
    <script src="{{url_for('static', filename='js/script.js')}}" charset="utf-8"></script>
  </body>
</html>
